
body {margin: 1;}

.top-bar {
  background-color: white;
  font: normal 1.1rem American Typewriter;
  margin: 0 !important;
  border-bottom: 0.15rem solid #5A5A5A;
}
.top-bar ul.countries{
	
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0;
}
.top-bar ul.countries > li{
	display: inline;
	font: normal 1.3rem American Typewriter;
	color: #5A5A5A;
}
.top-bar ul.countries > li > a{
	color: #5A5A5A;
	margin: auto 0.15rem;
	text-decoration: none;

	-webkit-transition: all 0.05s ease;
    -moz-transition: all 0.05s ease;
    -o-transition: all 0.05s ease;
    transition: all 0.05s ease;
}
.top-bar ul.countries > li > a:hover {
	/*border-bottom: 0.2rem solid #5A5A5A;*/
	opacity: 0.7;
}
.top-bar-iconsRight a{
	text-decoration: none;
	margin: auto 0.5rem;
}
.top-bar-iconsRight a:hover{
	opacity: 0.7;
}
.top-bar-iconsRight a > i{
	font-size: 1.5rem;
	color: #5D5D5D;
	padding-bottom: 0;
}

.lang > ul{
	min-width: 3rem;
}
.lang > button{
	margin-top: -0.3rem;
}
.lang > button:hover{
	opacity: 0.75;
}
.lang > button:after{
	display: none;
}

.country-menu > ul{
	min-width: 3rem;
}
.country-menu > button{
	margin-top: -1rem;
	font-size: 1.5rem;	
	color: #5D5D5D;	
	padding-bottom: 0;	
	height: 2.1rem;
}
.country-menu > button:hover{
	opacity: 0.5;
}
.country-menu > button:after{
	display: none;
}




.lang > button, .lang > ul > li {
	font: normal 1.35rem American Typewriter;
	color: #5A5A5A !important;
	padding: 0;
}




ul.topnav li a:hover:not(.active) {background-color: #D2D2D2;}

ul.topnav li a.active {background-color: #D2D2D2;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D2D2D2;
  font: normal 20px American Typewriter;
  text-align: center;
}

ul.topnav li {display: inline;}

ul.topnav li a {

  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 7px 7px;
  text-decoration: none;
  display:inline-block;
}

ul.topnav li a:hover:not(.active) {background-color: #073C51;}







.footer-basic-centered{
	background-color: #D2D2D2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 14px American Typewriter;

	padding: 10px;
	margin-top: 20px;
}

.footer-basic-centered .footer-company-name{
	color:  black;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  black;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}