
body {margin: 1;}

.top-bar {

  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  font: normal 14px American Typewriter;
  border-style: dotted;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-width: 1px;


}

ul.topnav li a:hover:not(.active) {background-color: #D2D2D2;}

ul.topnav li a.active {background-color: #D2D2D2;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D2D2D2;
  font: normal 20px American Typewriter;
  text-align: center;
}

ul.topnav li {display: inline;}

ul.topnav li a {

  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 7px 7px;
  text-decoration: none;
  display:inline-block;
}

ul.topnav li a:hover:not(.active) {background-color: #073C51;}







.footer-basic-centered{
	background-color: #D2D2D2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 14px American Typewriter;

	padding: 10px;
	margin-top: 20px;
}

.footer-basic-centered .footer-company-name{
	color:  black;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  black;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}